target/
lib_managed/
project/boot/
project/build/target/
project/plugins/target/
project/plugins/lib_managed/
project/plugins/src_managed/

DS_Store
project/target
/project/plugins/project
dist
target
lib_managed/
src_managed/
test-output/
.idea
.idea_modules
.classpath
.project
.cache
.settings
*.log
*.iml
bin
